
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <h1 class="pruebaTitle">Edicion de Concurso</h1>
      <div class="formContainer">
          <form action="/concurso/<%= concurso.id %>/edit?_method=put" method="POST">
              <label for="name">Nombre</label>
              <input type="text" name="nombre" value="<%= concurso.nombre %> ">
              <label for="date">Fecha</label>
              <input type="text" name="fecha" value="<%= concurso.fecha %> ">
              <label for="program">Anteprograma (link)</label>
              <input type="url" name="programa" value="<%= concurso.anteprograma %> ">
              <button type="submit">Guardar Cambios</button>
          </form>
      </div>
      <%- include('./partials/scripts') %>

      </body>