<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
  <%- include('./partials/header') %> 
    <div class="portraitContainer">
        <img src="/images/branca3.jpg" alt="">
        <div class="intro">
            <h1>Gestion치 tus inscripciones. F치cil, r치pido, seguro.</h1>
        </div>
    </div>
    <h1 class="pruebaTitle">Pr칩ximos concursos...</h1>

    <div class="concursosContainer row">
      <a style="text-align: center; margin-bottom: 50px; font-size: 20px; color: black;" href="/concurso/crear" class="col-12" >Crear Nuevo Concurso</a>

      <% for(let i = 0 ; i < 4 ; i++){ %> 
        <div class="">
          <img src="/images/<%= concurso[i].Hipico.logo %> " alt="">
          <h1><%= concurso[i].Hipico.nombre %> </h1>
          <h2><%= concurso[i].nombre %> </h2>
          <h3><%= concurso[i].fecha %> </h3>
          <a href="/concurso/<%= concurso[i].id %>/edit">Editar Concurso</a>
          <a href="/concurso/<%= concurso[i].id %>/detail">Inspeccionar Concurso</a>

        </div>
      <% } %> 

        
        <a style="text-align: center; margin-bottom: 50px; font-size: 20px; color: black;" href="/concurso" class="col-12" >Ver todos los concursos disponibles</a>
     </div>   
    <%- include('./partials/scripts') %></body>
</html>