<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <h1 class="pruebaTitle" style="margin-bottom: 40px
    ;">Panel de Administración para Organizaciones Hipicas</h1>
          <div class="onCourseContainer">
            <h2>Concursos en Curso</h2>
            <% for(let i = 0 ; i < concursos.length ; i ++){ %>
              <div class="onCourse">
                <h3><%= concursos[i].nombre %> </h3>
                <h5><%= concursos[i].fecha %> </h5>
                <h4>Total recaudado hasta el momento:$ <%= ganancias[i] %> </h4>
                <p>*El total se calcula unicamente en base a las inscripciones realizadas a traves de RideSystem</p>
            </div>
            <% } %> 
          </div>
            <div class="pendingContainer">
              <% if(concursosFinalizados.length != 0) {%>
                <h3>Deudas Pendientes</h3>
                <% if(hipico.pago_mes == 1) {%> 
                  <h4>Importe mensual $<%= mensual %> </h4>
                  <% } else {%> 
                    <h4></h4>
                  <% } %> 
                <% for(let i = 0 ; i < concursosFinalizados.length ; i ++ ){ %>
                  <div class="pending">
                    <h5><%= concursosFinalizados[i].nombre %> </h5>
                    <h5><%= concursosFinalizados[i].fecha %> </h5>
                    <h5>Total Recaudado:$<%= gananciasFin[i] %> </h5>
                    <h5>Comision%:$<%= comisionFin[i] %> </h5>
                    <h5>Deuda parcial:$<%= comisionFin[i] %> </h5>
                  </div>
                <% } %> 
                
                <h5 class="pendingTotal" style="margin-bottom: 40px
                ;">Deuda Total $<%= deudaTotal %> </h5>
                <button style="width: 30%; margin-bottom: 40px; margin-top: 0px; border-radius: 5px;"> <a style="color: black;" href="/hipico/<%= hipico.id %>/account/pagar">Pagar</a> </button> 
              </div>
              <% } else {%> 
                <h2 style="margin-bottom: 30px;">No hay deudas pendientes</h2>
              <% } %>  

          <h2 style="width: 100%; text-align: center;">Mis Datos</h2>
    <div class="infoHipico formContainer">
      <form action="/hipico/<%= hipico.id %>/account?_method=put" method="POST" enctype="multipart/form-data">
        <label for="name">Nombre</label>
        <input type="text" name="nombre" id="" value="<%= hipico.nombre %> ">
        <label for="name">Siglas</label>
        <input type="text" name="siglas" id="" value="<%= hipico.siglas %> ">
        <label for="logo">Logo</label>
        <div style="width: 30%; background-color: grey; height: 15%;">
            <img style="width: 100%; height: 100%;" src="/images/uploads/<%= hipico.logo %> " alt="">
        </div>
        <input type="file" name="logo">
        <label for="adress">Direccion</label>
        <input type="text" name="direccion" value="<%= hipico.direccion %> ">
        <label for="email">Email</label>
        <input type="email" name="mail" value="<%= hipico.mail %> ">
        <button type="submit">Guardar Cambios</button>
      </form>
    </div>


      <%- include('./partials/scripts') %>
      </body>